/* Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100vw;
    background-color: #f7f7f7;
    top: 0;
    left: 0;
    z-index: 1000;
    flex-wrap: nowrap; /* Ensures navbar stays in a single row */
  }
  
  .logo img {
    height: 50px;
    cursor: pointer;
    padding-left: 10px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: #708090;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-links a:hover {
    background-color: #f0f0f0;
  }
  
  .nav-links .active a {
    color: #501960;
    border-bottom: 2px solid #d3844f;
  }
  
  .logout-button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;
    margin-top: -10px;
    color: white;
    background-color: #ff4b5c;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .logout-button:hover {
    background-color: #ff3347;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .logout-button:active {
    background-color: #e53e4d;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .navbar {
      justify-content: space-between;
      padding: 10px 15px;
    }
  
    .logo img {
      height: 40px;
    }
  
    .nav-links {
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }
  
    .nav-links li {
      margin: 0 10px;
    }
  
    .logout-button {
      margin-top: 0;
    }
  
    /* Mobile menu button (optional) */
    .menu-button {
      display: none; /* Hide menu button on larger screens */
    }
  }
  